/* global-rules */
body {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

html,
body {
    height: 100%;
}
.html{
    scroll-behavior: smooth;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* end-global-rules */
:root {
    --main-color: #10cab7;
    --secondary-color:#2c4755;
}



@media (min-width:768px) {
    .container {
        width: 650px;

    }

    .special-heading {
        font-size: 20px;
    }

}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
    .portfolio-content{
        gap:20%;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
    .services-content{
        gap:20%;
    }
    .portfolio-content{
        gap:30%;
    }

}


/* start header */
.header {
    padding: 20px;
    min-width: 100%;
    background-color:
    margin: 0;
    position: ;
    height: 10vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebeced;
   
}

.logo {
    width: 50px;
}

.bar {
    color: rgb(14, 8, 8);
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    width: 20%;
    top: 5px;
    height:80%;
    margin-left: 10%;
}



.links ul {
    list-style: none;
    text-decoration: none;
    background-color: beige;
    width: 40%;
    display: flex;
    flex-direction: column;
    border: 2px solid bisque;
    position: absolute;
    right: 10%;
    top: 100%;
    display: none;

}

.icons:hover .links ul {
    display: block;
}



.links ul a {
    text-decoration: none;
    padding: 20px;

}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent beige transparent;
    position: absolute;
    right: 10px;
    top: -20px;
    padding: 0;

}

.landing {
    background-image: url(../pictures/mountain.webp);
    background-size: cover;
    height:250vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: auto;
    flex-basis: auto;
}

.intro p {
    text-align: center;
    margin: auto;

}

.container2 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20%;
    padding-right: 20%;
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;

}

.features .container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


}

.features .feat i {
    color: var(--main-color);

    font-size: 30px;

}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}

@media(max-width:767px) {
    .special-heading {
        font-size: 60px;
        text-align: center;
        margin-left: 20px;
        margin-top: 10px;

    }

    .special-heading+p {
        margin-top: -15px;
        font-size: 15px;

    }
}

.services {
    padding-top: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
}

.services-content {
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    
        text-align: center;
    
}
.services-content i{
    color:var(--main-color);
    flex-basis: 60px;
}
.services .services-content .srv .text{
    flex:1;
}
.services  .services-content .srv .text h3{
    margin:0 0 20px;
}
.services  .services-content .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .srv p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
  

}
.services-content img{
    width: 200px;
    position: relative;
}


.image2::before {
    display: block;
    content:"nnnn";
     background-color: var(--secondary-color);
     position: absolute;
     width:80px;
 
    border: 4px solid blue;
    top:50px;
    right: 50px;
    z-index: -1;
    }
.services .srv {
    display: flex;
    margin-top: 40px;

}

.portofolio {
    padding-top: 60px;
    padding-right: 60px;
    flex-direction: column;
    background-color: #f6f6f6;
    margin-top: 80px;
}
.portofolio .portofolio-content{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr));
    text-align: center;
    margin-top: 80px;;
    gap: 30px;
  
    
}
.portfolio-content .card{
    background-color: white;
}
.card img{
    max-width: 100%;
  
    margin-top: 30px;
}
.card .info{
    padding: 20px;
}
.portfolio-content .card  .info{
    padding: 20px;
}
.portfolio-content .card .info h3{
    margin: 0;
    text-align: center;
    left: 50px;
    border: 4px solid red;
}
.portfolio-content .card .info p{
    color: #777;
    line-height: 1.6;;
}
.about-content  .image{
    position: relative;
    margin-top: 60px;
    margin-bottom: 40px;
    left:20px
}
.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about-content  .image::before{
    content: "";
    background-color:#ebeced;
    width: 80px;
    height:280px;
    position: absolute;
   z-index: -1;
   top:-30px;
   left:-20px;
}
.about-content  .image::after{
    content:"";
    position: absolute;
    width:100px;
    height: 150px;
    border-left: 50px solid var(--main-color);
    border-bottom:50px solid var(--main-color) ;
    z-index: -1;
    left:300px;
    top:-20px
  

}
@media (min-width:1000px){
    .about-content .image{
        padding-right: 100px;
    }
    .about-content .p:first-of-type{
        margin-bottom: 15px;
    }
}
.portofolio .containr .parg{
    margin-top: 10px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:100px;
}
@media(max-width:991px)
   { .about-content  .image::before ,
    .about-content  .image::after{
        display: none;
    }
    .about-content {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .about-content  .text p{
        margin: auto;
        padding: 0;
        text-align: center;
        width: 300px;
        height: 100px;
      
    }
}
.about-content  .text{
    flex-basis:calc(100%-500px);
    flex:1;
    padding: 50px;
   
}
@media(max-width:991px)
{.about-content  .text  {display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center; 
}
.about-content .image{
    align-self: center;
    justify-items: center;

}

}
.about-content .text  p:first-of-type{
 font-weight: bold;

 margin-bottom: 50px;
}
.about-content  .text hr{
    width:50%;
    border-color: var(--main-color);

    display: inline-block;
}
.about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
.contact   .info  p{
    color: var(--secondary-color);
    text-align: center;
    font-weight: bold;
    font-size:20px;

}
.contact .info .link{
    color: var(--main-color);
    text-align: center;
    font-weight: bold;
    text-align: center;
    padding-left: 60px;
    text-decoration: none;
    display: block;
    font-size: 30px;
}
.social a{
    font-size: 40px;
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 5px;
}
.social{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    background-color:var(--secondary-color) ;
    color:white;
    text-align: center;
    font-size: 18px;
    padding: 30px 10px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}